@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    color: #FFFFFF;
}

body {
    background-color: #0B0B0C;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

section {
    width: 80%;
    margin-left: 10%;

}



#home {
   @media(max-width:780px){
    display:flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
}

nav {
    font-size: 1.8vw;
    margin-top: 2%;
}

.hero-container {
    flex-direction: row;
    margin-top: 2%;
    display: flex;
    @media(max-width:780px){
        width: 50%;
        flex-direction: column;
        justify-self: center;
    }
    

}

.hero-container div {
    width: 50%;
    @media(max-width:780px){
        width: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
   
}

.hero-container div p {
    margin: 0;
    line-height: 100%;
    font-family: 'Roboto';
    font-size: 8vw;
}

.hero-container div p + * {
    font-family: 'Roboto Serif';
}

.hero-container div p + * + * + * {
    font-family: 'Roboto';
}

.hero-container div p + * + * + * + * {
    font-family: 'Roboto Serif';
}

.hero-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    @media(max-width:780px){
        width: 100%;
    }
}

.hero-image-container img {
    width: 50vw;
    @media(max-width:780px){
        margin-left:50%;
    }
}

#about {
    @media (max-width:780px) {
        display: flex;
        flex-direction: column;
        align-items: center;

    }
}

.section-header {
    font-size: 1.5vw;
    font-weight: 300;
    margin-top: 15vh;
}

.about-title {
    margin-top: 3vh;
    font-size: 4.5vw;
    font-weight: 400;
    @media (max-width:780px) {
        line-height: 150%;
    }
}

.about-foot {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
}

@keyframes rotate {
    from {
        transform: rotate(-360deg);
    }
    to {transform: rotate(360deg);}
}

#circle {
    width: 30%;
    margin-top: 10%;
    animation: rotate 25s infinite linear;
    border-radius: 100%;
}

@keyframes workBar {
    from {
        position: absolute;
        left: -1000px;
    }
}

#works {
    height: auto;
    
}

.works {
    margin-top: 5vh;
}

.works-container {
    margin-top: 15vh;
}

.works-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    cursor: pointer;
    user-select: none;
}

#workOne {
    transition: ease .5s;
} 

.workClose {
    margin-top: 2%;
    max-height: 0;
    overflow: hidden;
    transition: ease .5s;
}

.work-info-container {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    transition: ease .5s;
    
}

.work-info-open {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
}

.work-info-container div {
    width: 50%;
    font-size: 1vw;
    font-weight: 400;
    line-height: 150%;
}

.image-container {
    display: flex;
    align-items: center;
}

.work-image {
    width: 100%;
    aspect-ratio: 16/10 ;
    background-color:#8E8E8E;
}

.works-title p {
    font-size: 5vw;
    width: 50%;
}

.works-title p + p {
    font-size: 2vw;
    width: 30%;
    font-weight: 300;
}

.works-title p + p + p {
    font-size: 4vw;
    font-weight: 300;
    width: 20%;
    text-align: right;
}

.under-line {
    border-bottom: white 0.2vh solid;
}

.overview-container {
    margin-top: 5vh;
}

.overview-about {
    font-weight: 200;
    letter-spacing: 1px;
    line-height: 200%;
    font-size: 1.5vw;
}

.technologies-container {
    margin-top: 15vh;
    text-align: center;
    font-size: 2vw;
    font-weight: 400;
}

@keyframes sliderLeft {
    to {
        right: -500px;
    }
}

.prog-container {
    margin-top: 10vh;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: #8E8E8E;
    font-family: 'Roboto';
    width: 100%;
    position: sticky;
}

.prog-container div{
    width: 30%;
}


.prog-1 {
    width: 40%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    font-size: 100px;
    right: 100%;
    animation: sliderLeft 30s linear infinite;
    animation-delay: calc(30s / 6 * (6 - 1) * -1);
}

.prog-2 {
    width: 40%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    font-size: 100px;
    right: 100%;
    animation: sliderLeft 30s linear infinite;
    animation-delay: calc(30s / 6 * (6 - 2) * -1);
}

.prog-3 {
    display: flex;
    justify-content: space-around;
    position: absolute;
    font-size: 100px;
    right: 100%;
    animation: sliderLeft 30s linear infinite;
    animation-delay: calc(30s / 6 * (6 - 3) * -1);
}

.prog-4 {
    display: flex;
    justify-content: space-around;
    position: absolute;
    font-size: 100px;
    right: 100%;
    animation: sliderLeft 30s linear infinite;
    animation-delay: calc(30s / 6 * (6 - 4) * -1);
}

.prog-5 {
    display: flex;
    justify-content: space-around;
    position: absolute;
    font-size: 100px;
    right: 100%;
    animation: sliderLeft 30s linear infinite;
    animation-delay: calc(30s / 6 * (6 - 5) * -1);
}

.prog-6 {
    display: flex;
    justify-content: space-around;
    position: absolute;
    font-size: 100px;
    right: 100%;
    animation: sliderLeft 30s linear infinite;
    animation-delay: calc(30s / 6 * (6 - 6) * -1);
}

.prog-container div img {
    width: 40%;
}

#contact {
    margin-top: 30vh;
    @media (max-width:780px) {
        margin-top: 5vh;
    }
}

.contact-head {
    position: sticky;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: white;
    font-family: 'Roboto';
}

@keyframes sliderRight {
    to {
        left: -500px;
    }
}

.contact-head div {
    width: 40%;
}

.word-1 {
    width: 40%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    font-size: 6vw;
    left: 100%;
    animation: sliderRight 30s linear infinite;
    animation-delay: calc(30s / 4 * (4 - 1) * -1);
}

.word-2 {
    width: 40%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    font-size: 6vw;
    left: 100%;
    animation: sliderRight 30s linear infinite;
    animation-delay: calc(30s / 4 * (4 - 2) * -1);
}

.word-3 {
    display: flex;
    justify-content: space-around;
    position: absolute;
    font-size: 6vw;
    left: 100%;
    animation: sliderRight 30s linear infinite;
    animation-delay: calc(30s / 4 * (4 - 3) * -1);
}

.word-4 {
    display: flex;
    justify-content: space-around;
    position: absolute;
    font-size: 6vw;
    left: 100%;
    animation: sliderRight 30s linear infinite;
    animation-delay: calc(30s / 4 * (4 - 4) * -1);
}

.contact-head-2 {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: #8E8E8E;
    font-family: 'Roboto';
    width: 100%;
    position: sticky;
}

@keyframes sliderLeft {
    to {
        right: -500px;
    }
}

.contact-head-2 div {
    width: 30%;
    text-wrap: nowrap;

}

.word-5 {
    margin-left: 50%;
    width: 40%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    font-size: 6vw;
    right: 100%;
    animation: sliderLeft 30s linear infinite;
    animation-delay: calc(30s / 4 * (4 - 1) * -1);
    
}

.word-6 {
    width: 40%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    font-size: 6vw;
    right: 100%;
    animation: sliderLeft 30s linear infinite;
    animation-delay: calc(30s / 4 * (4 - 2) * -1);
}

.word-7 {
    display: flex;
    justify-content: space-around;
    position: absolute;
    font-size: 6vw;
    right: 100%;
    animation: sliderLeft 30s linear infinite;
    animation-delay: calc(30s / 4 * (4 - 3) * -1);
}

.word-8 {
    display: flex;
    justify-content: space-around;
    position: absolute;
    font-size: 6vw;
    right: 100%;
    animation: sliderLeft 30s linear infinite;
    animation-delay: calc(30s / 4 * (4 - 4) * -1);
}

.contact-con {
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: center;

}

.contact {
    border: 1px solid white;
    text-decoration: none;
    font-family: 'Roboto';
    color: white;
    padding: 15px 60px;
    border-radius: 50px;
    font-size: 30px;
    cursor: pointer;
}

.contact:hover {
    background-color: white;
    color: black;
    transition: .5s;
}

/* navbar */
.nav-bar {
    width: 100vw;
    height: 100vh;
    background-color: #0B0B0C;
    position:fixed;
    z-index: 999;
    left: 100%;
    transition: 0.5s;
}

.close-container {
    display: flex;
    justify-content: end;
    
}

.close {
    cursor:pointer;
    width: 5%;
    margin-right: 5%;
}

.nav-butt {
    width: 100vw;
    display: flex;
    justify-content: end;
}


.nav-open {
    width: 5%;
    position: fixed;
    margin-right: 5%;
    cursor: pointer;
    transition: 0.5s;
}

.nav-butts {
    display: flex;
    flex-direction: column;
    height: 80vh;
    align-items: center;
    text-align: left;
    justify-content: space-around;
}

.nav-butts a{
    width: 30%;
    text-align: left;
    font-size: 5vw;
    text-decoration: none;
    font-family: 'Roboto Serif';
    transition: .5s;
}

.nav-butts a:hover {
    margin-left: 5%;
    transition: .5s;

}

.nav-butts a:hover {
    filter: brightness(1);
}

.nav-butts a:hover + * {
    filter: brightness(0.6);
}

.nav-butts a:hover + * + * {
    filter: brightness(0.4);
}

.nav-butts a:hover + * + * + * {
    filter: brightness(0.2);
}

.nav-butts a:hover + * + * + * + * {
    filter: brightness(0.1);
}

.nav-butts a:has(+*:hover){
    filter: brightness(0.6);
}

.nav-butts a:has(+*+*:hover){
    filter: brightness(0.4);
}

.nav-butts a:has(+*+*+*:hover){
    filter: brightness(0.2);
}

.nav-butts a:has(+*+*+*+*:hover){
    filter: brightness(0.1);
}

#footer {
    margin-top: 15vh;
    height: 20vh;
    display: flex;
    @media (max-width:780px) {
       flex-direction: column; 
       align-items: center;
    }
}

.footer-container {
    font-family: 'Roboto Condensed';
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
}

.contacts-container {
    width: 100vw;
    height: 100vh;
    background-color: #0b0b0cde;
    position: fixed;
    z-index: 999;
    transition: 0.3s;
    right: 100%;
    color: white;
}

.contact-about {
    width: 40%;
    height: 100vh;
    background-color: #0B0B0C;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    position: absolute;
}

.profile-picture {
    width: 30%;
    border-radius: 100%;
}

.profile-title {
    font-size: 3vw;
}

.contact-name {
    font-size: 1.5vw;
    font-weight: 400;
}

.contact-icon-container {
    display: flex;
    justify-content: space-between;
    width: 40%;
}


.contact-icon {
    width: 50%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.status-log {
    margin-top: 15%;
    width: 45%;
    display: flex;
    flex-direction: column;
    height: 20vh;
    justify-content: space-between;
}

.status-cell{
    display: flex;
    align-items: center;
    font-size: 1vw;
    text-align: left;
}

.status-image {
    width: 12%;
    padding-right: 5%;
}
