@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    scrollbar-color:white #111011 ;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'inter';
}

a {
    text-decoration: none;
    color: white;
}

body {
    background-color: #111011;
    height: 300vh;
}


nav {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999999;
    
    
}

.nav-wrapper {
    background-color: #0F0E0F;
    height: 70px;
    width: 65%;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #999999;
    font-weight: bold;
}

.nav-wrapper div {
    margin: 30px;
}

.icon-1 {
    width: 30px;
    height: 30px;
}

.icons-1-container {
    display: flex;
    width: 80px;
    justify-content: space-between;
}

.outer-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.inner-container { 
    width: 75%;
}

.label {
    width: 100%;
    font-weight: bold;
    color: #999999;
    margin-left: 8%;;
    padding: 30px 10px;
}

.hero-container {
    color: white;
    font-size: 50px;
    height: 50vh;
    display: flex;
    @media(max-width:780px){
        height: 60vh;
    }

    
}

.hero-cell {
    align-self: flex-end;
    margin-left: 8%;
    font-weight: bold;
    margin-bottom: 20px;
    @media(max-width:780px){
        font-size: 50px;
        @media(max-width:500px){
            font-size: 40px;
        }
    }
}

#heroWave:hover {
    font-size: 40px;
    font-weight: 300;
}

.project-container {
    width: 100%;
    background-color: #1A191A;
    border: #333333;
    aspect-ratio: 3/2;
    border-radius: 30px;
    border: 1px solid #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    @media(max-width:720px){
        height: 80vh;
    }
}

.project-slides {
    width: 90%;
    display: flex;
    justify-content: space-between;
    height: auto;
    flex-direction: row;
    height: 90%;
    @media(max-width:720px){
        overflow: auto;
        white-space: nowrap;
        column-gap: 10vw;
        scroll-snap-type: x mandatory;
        scroll-padding: 0;
    }
}

.project-slide-container {
    width: 30%;
    background-color: #151415;
    border-radius: 15px;
    transition: .1s ease-in-out;
    @media(max-width:720px){
        width: 70vw;
        aspect-ratio: 16/9;
        scroll-snap-align: start;
    }
}

.project-slide-container:hover {
    transform: translateY(-10px);
}

.skills-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media(max-width:720px){
        flex-direction: column;
    }
}

.work-card {
    background-color: rgba(204, 204, 204, 5%);
    width: 35%;
    aspect-ratio: 1/1.2;
    border-radius: 40px;
    border: 1px solid rgba(204, 204, 204, 5%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s ease-in-out;
    @media(max-width:720px){
        width: 75vw;
    }
}

.work-card:hover{
    transform: rotate(8deg);
}

.G-logo-base {
    aspect-ratio: 1/1;
    width: 100%;
    background-color: #4285F4;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 3px #4285F4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.google-logo{
    width: 50%;
    filter:drop-shadow(0px 3px 5px #FFFFFF) drop-shadow(0px 3px 3px #000000) ;

}

.card-wrapper {
    width: 70%;
    height: 85%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


.card-desc{
    font-weight: bold;
}

.card-head {
    color: #FFFFFF;
    font-size: 26px;
    line-height: 300%;
}

.card-sub {
    font-size: 16px;
    color: #666666;
    display: flex;
    justify-content: space-between;
}

.card-sub div + div {
    color: white;
    align-self: flex-end;
    font-weight: 300;
}

.work-desc{
    width: 60%;
    background-color: rgba(204, 204, 204, 5%);
    border-radius: 40px;
    border: 1px solid rgba(204, 204, 204, 5%);
    display: flex;
    justify-content: center;
    aspect-ratio: 3/2;
    @media(max-width:720px){
        width: 75vw;
        aspect-ratio: 3/2;
        margin-top: 5vh;
        padding-bottom: 5%;
        align-items: center;
        height: auto;

    }
}

.work-wrapper {
    width: 70%;
    height: 80%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.language-container {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.language-icon {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: .2s ease-in-out;
    @media(max-width:1000px){
        width: 50px;
        height: 50px;
    }
}

.language-icon:hover {
    transform: rotate(8deg);
    filter: brightness(1.3);
}


.language-icon img {
    width: 60px;
    filter:drop-shadow(0px 2px 5px #FFFFFF) drop-shadow(0px 2px 3px #000000) ;
    @media(max-width:1000px){
        width: 30px;
        
    }

}

#reactIcon {
    background-color: #DB4437;
    box-shadow: 0px 0px 10px 1px #DB4437;
}

#nodeIcon {
    background-color: #F4B400;
    box-shadow: 0px 0px 10px 1px #F4B400;
}

#phpIcon {
    background-color: #0F9D58;
    box-shadow: 0px 0px 10px 1px #0F9D58;
}

#cssIcon {
    background-color: #4285F4;
    box-shadow: 0px 0px 10px 1px #4285F4;
}

.work-desc-info {
    margin-top: 5%;
    height: auto;
    color: white;
    @media (max-width:720px) {
        display: flex;
        flex-direction: column;

    }

}

.work-desc-info p {
    font-size: 26px;
    font-weight: bold;
}

.work-desc-info p + p {
    font-weight: 300;
    font-size: 20px;
    margin-top: 3%;
    @media (max-width:1260px) {
        font-size: 15px;
        @media (max-width:1010px) {
            
        }
    }
}

.about-button {
    border:  2px solid white;
    width: 25%;
    text-align: center;
    margin-top: 10%;
    border-radius: 20px;
    padding: 10px 0px;
    font-weight: bold;
    transition: .2s ease-in-out;
    align-self: center;
    @media (max-width:995px) {
        width:50% ;
        margin-top: 3%;
    }
    @media (max-width:1017px) {
        margin-top: 10px;
    }@media (max-width:995px) {
        width:50% ;
        margin-top: 3%;
    }   
}

.about-button:hover {
    color: #1A191A;
    background-color: white;
    cursor: pointer;
}




.contact-head {
    position: sticky;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: white;
    font-family: 'Roboto';
}

@keyframes sliderRight {
    to {
        left: -500px;
    }
}

.contacts {
    margin-top:10%;
}


.contact-head div {
    width: 40%;
    color: white;
    
}


.about-container {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999999;
    display: flex;
    justify-content: center;
    top: -150%;
    transition: 0.2s;
}

.about-wrapper {
    width: 30vw;
    aspect-ratio: 9/16;
    color: white;
    height: 100%;
    background-color: #0F0E0F;
    @media (max-width:720px) {
    width: 100%;
    } 
}

.about-header {
    display: flex;
    justify-content: space-between;
    padding: 5% 10%;   
    font-weight: bold;
}

.about-title {
    width: 90%;
    text-align: center;
}

.about-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    height: 100vh;
}

.text-header div {
    width:fit-content;
    text-align: center;
}

.x-about {
    cursor: pointer;
}

.word-1 {
    width: 40%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    font-size: 6vw;
    left: 100%;
    animation: sliderRight 30s linear infinite;
    animation-delay: calc(30s / 4 * (4 - 1) * -1);
}

.word-2 {
    width: 40%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    font-size: 6vw;
    left: 100%;
    animation: sliderRight 30s linear infinite;
    animation-delay: calc(30s / 4 * (4 - 2) * -1);
}

.word-3 {
    display: flex;
    justify-content: space-around;
    position: absolute;
    font-size: 6vw;
    left: 100%;
    animation: sliderRight 30s linear infinite;
    animation-delay: calc(30s / 4 * (4 - 3) * -1);
}

.word-4 {
    display: flex;
    justify-content: space-around;
    position: absolute;
    font-size: 6vw;
    left: 100%;
    animation: sliderRight 30s linear infinite;
    animation-delay: calc(30s / 4 * (4 - 4) * -1);
}

/* <video-player> **/

#video-1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;

}

.openView {
    width: 100%;
    aspect-ratio: 3/2;
}

.mobileViewVideo {
    object-fit: contain!important;
    aspect-ratio: 3/2!important;
}

.about-card {
    width: 70%;
    height: auto;
    aspect-ratio: 1/1.2;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s ease-in-out;
    @media(max-width:720px){
        width: 75vw;
    }

    padding-bottom: 10vh;
}


.about-logo-base {
    aspect-ratio: 1/1;
    width: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-logo{
    width: 50%;
    filter:drop-shadow(0px 3px 5px #FFFFFF) drop-shadow(0px 3px 3px #000000) ;

}

.aboutcard-wrapper {
    width: 100%;

    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


.aboutcard-desc{
    font-weight: bold;
}

.aboutcard-head {
    color: #FFFFFF;
    font-size: 26px;
    line-height: 300%;
}

.aboutcard-sub {
    font-size: 16px;
    color: #666666;
    display: flex;
    justify-content: space-between;
}

.aboutcard-sub div + div {
    color: white;
    align-self: flex-end;
    font-weight: 300;
}

@keyframes backGlow {
    100% {
        backdrop-filter: blur(4px);
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.show-about {
    top: 0%;
    animation: backGlow 2s forwards;
    transition: .2s;
}